  <div id="page-container">
    <div id="content-wrap">

<h2 class="emprestimos">Cadastre sua ferramenta para empréstimo:</h2>

<%= simple_form_for([@tool], data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, as: :string,
                required: true,
                autofocus: true,
                label: "Nome da Ferramenta" %>
    <%= f.input :details, as: :text,
                required: true,
                autofocus: true,
                label: "Descreva sua Ferramenta" %>
    <%= f.input :price_cents, as: :integer,
                required: true,
                autofocus: true,
                label: "Qual o preço do empréstimo?" %>
    <%= f.input :photo, as: :file,
                label: "Foto"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar" , class: "btn btn-ghost confirme" %>
  </div>
<% end %>

</div>
</div>
