<h1><%= @tool.name %></h1>
<% if @tool.photo.attached? %>
  <%= cl_image_tag(@tool.photo.key, crop: :fill) %>
<% else %>
  <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcPalH90DW4IXgolSN5ikKCKDuq2g80ds6ZOUwVQ8W-HognQVTNFcLoMqupAXInI7lv8c&usqp=CAU", alt: "ferramenta" %>
<% end %>
<h5> Cadastrada por: <%= @tool.user.first_name %></h5>
<p><%= @tool.details %></p>
<% if current_user == @tool.user %>
  <%= link_to "Editar informações", edit_tool_path(@tool) %>
  <%= link_to "Deletar", tool_path(@tool),
    data: {turbo_method: :delete, turbo_confirm: "Você confirma essa ação?"}
  %>
<%else%>
  <%= link_to "Alugar esta ferramenta", new_tool_rent_path(@tool) %>
<% end %>
