  <div class="container calendar">

      <div class="row align-items-start">
        <div class="col">
          <div class="card-product">
            <% if @tool.photo.attached? %>
              <%= cl_image_tag(@tool.photo.key, crop: :fill) %>
            <% else %>
              <%= image_tag "tools.png", alt: "ferramenta" %>
            <% end %>
            <div class="card-product-infos">
              <h3><%= @tool.name %></h3>
              <p><%= @tool.details %></p>
              <p>Valor da diária: <strong> R$<%= sprintf('%.2f',(@tool.price_cents / 100.00))%></strong></p>
              <p class="link-text-margem">Cadastrada por <%= @tool.user.first_name %>, apto: <%= @tool.user.apartment%> </p>
              <% if current_user == @tool.user %>
                <%= link_to "Editar informações", edit_tool_path(@tool), class: "link-text" %>
                <%= link_to "Deletar", tool_path(@tool),
                  data: {turbo_method: :delete, turbo_confirm: "Você confirma essa ação?"}, class: "link-text"
                %>
              <% end %>
            </div>

          </div>

          </div>
          <div class="col">
          <% if current_user == @tool.user %>
            <%= render 'calendario', tool: @tool %>
          <% else %>
            <%= render 'new_rent', tool: @tool, rent: @rent %>
          <% end %>
        </div>
        <p><%= link_to "<< Voltar", :back, class: "btn btn-ghost esquerda" %></p>
      </div>
</div>
