  <div id="page-container">
    <div id="content-wrap">

      <h1><%= @tool.name %></h1>
      <img src= "https://m.media-amazon.com/images/I/51rP6L10GKL._AC_SX569_.jpg" alt="ferramenta" style="height: 200px; width: auto;">
      <h3> Cadastrada por: <%= @tool.user.first_name %></h3>
      <p><%= @tool.details %></p>
      <% if current_user == @tool.user %>
        <%= link_to "Editar informações", edit_tool_path(@tool) %>
        <%= link_to "Deletar", tool_path(@tool),
          data: {turbo_method: :delete, turbo_confirm: "Você confirma essa ação?"}
        %>
      <%else%>
        <%= link_to "Alugar esta ferramenta", new_tool_rent_path(@tool) %>
      <% end %>

</div>
</div>
