<div class = "container mt-5" >
  <div class="row align-items-start">
    <div class="col">
      <div class="card-product">
        <%# colocar a condição do cloudinary depois  %>
        <%# <% if @tool.photo.attached? %>
        <img src= "https://m.media-amazon.com/images/I/51rP6L10GKL._AC_SX569_.jpg" alt="ferramenta">
        <div class="card-product-infos">
          <h2><%= @tool.name %></h2>
          <p><%= @tool.details %></p>
          <p>Valor da diária: <strong> R$<%= sprintf('%.2f',(@tool.price_cents / 100.00))%></strong></p>
          <p>Cadastrada por <%= @tool.user.first_name %>, apto: <%= @tool.user.apartment%> </p>
          <% if current_user == @tool.user %>
            <%= link_to "Editar informações", edit_tool_path(@tool) %>
            <%= link_to "Deletar", tool_path(@tool),
              data: {turbo_method: :delete, turbo_confirm: "Você confirma essa ação?"}
            %>
          <%else%>
            <%= link_to "Alugar esta ferramenta", new_tool_rent_path(@tool) %>
          <% end %>
        </div>
      </div>
        <%= link_to "Voltar", :back %>
      <div>
      </div>
    </div>
    <div class="col">
      <% if current_user == @tool.user %>
        <%= render 'calendario', tool: @tool %>
      <% end %>
    </div>
  </div>
</div>
