<div class="cadastrese">

<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Aguardando confirmação para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Deixe em branco se não quiser alterar",
                required: false,
                label:"Senha",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                label:"Confirme a senha",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Nós precisamos da sua senha atual para confirmar a mudança",
                required: true,
                label:"Senha atual",
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class: "btn btn-ghost confirme" %>
  </div>
<% end %>

<div class="cancel-account">
<p>Cancele minha conta</p>
<p>Insatisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Confirmar cancelamento?" }, method: :delete %></p>
</div>

<!--<%= link_to "Voltar", :back %>-->


</div>
