<div class="cadastrese">
<h2>Cadastre-se</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: "Nome",
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                label: "Sobrenome",
                input_html: { autocomplete: "last_name" }%>
      <%= f.input :apartment,
                required: true,
                autofocus: true,
                label: "Apartamento",
                input_html: { autocomplete: "apartment" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :phone_number,
                required: false,
                autofocus: true,
                label: "Telefone",
                input_html: { autocomplete: "phone_number" }%>
    <%= f.input :password,
                required: true,
                label: "Senha",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: "Confirme sua senha",
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Confirme", class: "btn btn-ghost confirme" %>
  </div>
<% end %>

</div>
