  <div class="page-container">
    <div class="content-wrap">

      <h2>Edite as informações da sua ferramenta:</h2>

      <%= simple_form_for([@tool], data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, as: :string,
                      required: true,
                      autofocus: true,
                      label: "Mudar Nome" %>
          <%= f.input :details, as: :text,
                      required: true,
                      autofocus: true,
                      label: "Mudar Descrição" %>
          <%= f.input :price_cents, as: :integer,
                      required: true,
                      autofocus: true,
                      label: "Editar Preço" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Atualizar" , class: "btn btn-ghost confirme" %>
        </div>
      <% end %>

  </div>
</div>
