  <div id="page-container">
    <div id="content-wrap">

      <h2>Ferramenta: <%= @tool.name %></h2>

      <%= simple_form_for([@tool, @rent], data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :date_start,
                      start_year: Date.today.year,
                      start_day: Date.today.day,
                      order: [:day, :month, :year],
                      required: true,
                      autofocus: true,
                      # este error mostra a primeira mensagem de erro na listagem de
                      # validação dos erros (se não for assim acaba indo coisa a mais)
                      error: @rent.errors.messages[:date_start].first,
                      label: "Data do empréstimo" %>
          <%= f.input :date_end,
                      start_year: Date.today.year,
                      start_day: Date.today.day,
                      order: [:day, :month, :year],
                      required: true,
                      autofocus: true,
                      error: @rent.errors.messages[:date_end].first,
                      label: "Data da devolução" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Confirme" , class: "btn btn-ghost confirme" %>
        </div>
      <% end %>

  </div>
</div>
