<!-- necessário ver se todas as divis fecham e estão ok -->
  <div class="page-container">
    <div class="content-wrap">
      <h2 class = "text-center"><%= @tool.name %></h2>
      <div data-controller= 'flatpickr'>
        <%= simple_form_for([@tool, @rent], data: {turbo: false}) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :date_start, as: :string,
                        error: @rent.errors.messages[:date_start].first,
                        input_html: { data: { flatpickr_target: "startDate",
                                      value: @rent.unavailable_dates(@tool.id, @rent),
                                      action: "input->flatpickr#dateChangeStart" } },
                                      label: "Data do empréstimo" %>
            <%= f.input :date_end, as: :string,
                        error: @rent.errors.messages[:date_end].first,
                        input_html: { data: { flatpickr_target: "endDate",
                                      action: "input->flatpickr#dateChangeEnd" } },
                                      label: "Data da devolução" %>
            </div>
            <div class="form-actions">
              <h4 data-flatpickr-target="total" data-value = <%=@tool.price_cents%>>Total do aluguél: R$ 0.00</h4>
              <%= f.button :submit, "Confirme" , class: "btn btn-ghost confirme" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
