
<div class="card-trip">

  <div class="card-trip">
    <% if tool.photo.attached? %>
      <%= cl_image_tag(tool.photo.key) %>
    <% else %>
      <%= image_tag "tools.png", alt: "ferramenta" %>
    <% end %>
  </div>
  <div class="card-trip-infos">
    <div>
      <div class="title-h3">
        <h3 class="title-tool"><%= link_to tool.name, tool_path(tool), class: "text-decoration-none text-reset" %></h3>
      </div>
      <div class="description">
        <p><%= tool.details %></p>
      </div>
      <div class="price">
        <p class="card-trip-pricing"><%="R$ #{tool.price_cents / 100},00 /dia"%></p>
      </div>
    </div>
      <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
  </div>
</div>
