<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/fotos-gratis/conjunto-de-ferramentas-manual-definido-no-piso-de-madeira_1150-15367.jpg?w=1480&t=st=1675304443~exp=1675305043~hmac=c70bd7ce524913e8a6f5b9d90dbb2b07187ac05814be95be332d095397e0137b);">
  <div class="container">
    <h1>Encontre a ferramenta que você precisa!</h1>
    <p>Ou empreste as suas ferramentas.</p>
    <% unless current_user %>
      <%= link_to "Cadastre-se", new_user_registration_path, class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>

<p class="recentes">Ferramentas recentes</p>

<div class="cards">
  <% @tools.each do |tool| %>
    <div class="card-trip">

     <%= image_tag "https://www.cec.com.br/files/blog/posts/2021/08_agosto/20210819/Chave-boca-700x409_5.png", class: "", alt: "avatar" %>
     <div class="card-trip-infos">
        <div>
          <div class="title-h3">
            <h3 class="title-tool"><%= link_to tool.name, tool_path(tool), class: "text-decoration-none text-reset" %></h3>
          </div>
          <div class="description">
            <p><%= tool.details %></p>
          </div>
          <div class="price">
            <p class="card-trip-pricing"><%="R$ #{tool.price_cents / 100},00 /dia"%></p>
          </div>
        </div>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
      </div>
    </div>
  <% end %>

</div>

<p class="recentes"><%= link_to "Veja todas as ferramentas", tools_path, class: "btn btn-ghost" %></p>
