<!DOCTYPE html>
<html>
  <head>
    <title>ToolBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="app/assets/images/logo_browser.gif" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/messages' %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png", height: 40, width: 193 %>
        <% end %>
        <%= form_with url: tools_path, method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: " Busque uma Ferramenta" %>
                <button name="button" type="submit" class="btn btn-flat">
                  <i class="fas fa-search"></i> Busca
                </button>
          </div>
        <% end %>
        <div class="conteiner-conteudo">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                  <% if user_signed_in? %>
                    <li class="nav-item active">
                      <%= link_to root_path, class: "nav-link" do %>
                         <%= image_tag "home.png" %>
                      <% end %>
                    </li>
                    <li class="nav-item dropdown" style="cursor: pointer">
                        <% if current_user.photo.attached? %>
                          <%= cl_image_tag(current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle" , id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
                        <% else %>
                          <%= image_tag "perfil.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <% end %>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <%= link_to "Meu painel", profile_path(current_user), class: "dropdown-item" %>
                          <%= link_to "Editar perfil", edit_user_registration_path(current_user), class: "dropdown-item" %>
                          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"dropdown-item" %>
                        </div>
                    </li>
                  <% else %>
                    <li class="nav-item active">
                      <%= link_to root_path, class: "nav-link" do %>
                        <%= image_tag "home.png" %>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                    </li>
                  <% end %>
              </ul>
          </div>
        </div>
      </div>
    </div>





    <!-- YIELD -->
    <div class="container" style="margin-bottom: 130px">
        <%= yield %>
    </div>
    <!-- FIM YIELD -->


  <!-- FOOTER -->
    <div class="footer">
      <div class="footer-copyright container">
        © <%= Date.today.year %> Toolbox, Inc. Todos os direitos reservados. <i class="fa-solid fa-van-shuttle"></i> Le Wagon
      </div>
    </div>
  <!-- FIM DA FOOTER -->




  </body>
</html>
